.notFound {
  color: lightgray;
  font-size: 20px;
  border-radius: 8px;
  width: 259px;
  height: 220px;
  text-align: center;
  i {
    font-size: 145px;
  }
  p {
    text-align: center;
  }
}
.categoryBar {
  margin: 27px 24px 19px 0;
  display: flex;
  justify-content: space-between;
  .title {
    span {
      font-size: 28px;
      color: #4b4b4b;
      margin-left: 10px;
    }
  }
  .more {
    align-self: center;
    a {
      text-decoration: none;
      font-family: "Noto Sans TC Thin";
      font-size: 14px;
    }
  }
}
.searchResultContainer {
  display: flex;
  justify-content: center;
  .serachResult {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;

    .pictureBox {
      position: relative;
      margin: 10px;
      width: 259px;
      height: 220px;
      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }
      .location {
        z-index: 100;
        position: absolute;
        bottom: 10px;
        left: 5px;
        color: white;
        span {
          margin: 5px;
        }
      }
    }
  }
}
.paginitor {
  width: 100%;
  text-align: center;
}
